* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sidebar-width: 200px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.content-container {
    flex: 1;
    margin-left: var(--sidebar-width); /* Space for sidebar */
    margin-top: 200px; /* Space for header */
    padding: 30px;
    overflow-y: auto;
    background-color: #000060;
}