:root {
    --sidebar-width: 200px;
}

.sidebar-container {
    padding: calc(var(--header-height) + 10px) 0px 0px 0px;
    width: var(--sidebar-width);
    border-radius: 0;
    background-color: #006000;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.sidebar-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    font-size: 10px;
    color: #ccc;
    text-align: center;
}

.sidebar-action-button {
    width: 180px;
    height: 35px;
    background-color: #2196f3;
    color: white;
    border: none;
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sidebar-action-button:hover {
    background-color: #1976d2;
    transform: translateX(5px);
}

.sidebar-action-button.active {
    background-color: #ff9800;
    box-shadow: 0 0 10px rgba(255, 152, 0, 0.5);
}