:root {
    --header-height: 50px;
}

.header-container {
    position: fixed;
    height: var(--header-height);
    left: var(--sidebar-width);
    top: 0px;
    right: 0px;
    padding: 10px;

    background-color: #600000;
}