<div class="cards">
    <div class="card">
        <h3>Reporting Tool</h3>
        <p>View weekly reports and data visualizations</p>
    </div>
    <div class="card">
        <h3>Feedback</h3>
        <p>Manage user feedback messages</p>
    </div>
    <div class="card">
        <h3>Templates</h3>
        <p>Access support message templates</p>
    </div>
    <div class="card">
        <h3>4th Card</h3>
        <p>4th Card Lorem Ipsum</p>
    </div>
    <div class="card">
        <h3>5th Card</h3>
        <p>5th Card Lorem Ipsum</p>
    </div>
    <div class="card">
        <h3>6th Card</h3>
        <p>6th Card Lorem Ipsum</p>
</div>